<%= turbo_stream_from @stock %> 

<%= turbo_frame_tag 'stock' do%> 

<%= render @stock %> 

<%end%>

<div class="container mt-2">
  <div class="row g-3">
    <div class="col-md-12 d-flex justify-content-center">
      <%= link_to '<span class="material-icons">arrow_back</span>'.html_safe,root_path ,class: "btn btn-outline-dark btn-sm"%>
    </div>
  </div>
</div>
