/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a {
  color: black;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400&display=swap");

.navbar-dark .navbar-brand {
  color: #fad02c;
}

.table-hover {
  font-weight: bold;
}
.table {
  width: 80%;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Bai Jamjuree", sans-serif;
}
.title {
  font-weight: bold;
  color: black;
  border-radius: 5px;
  height: 100px;
  font-size: 20px;
  max-width: 80%;
  /* border-right: 6px solid rgb(41, 41, 41); */
  background-color: #fad02c;
  margin: 0 auto;
}
.create {
  margin: 10px;
}

._form {
  padding-top: 20px;
}

.show {
  width: 80%;
  padding-top: 20px;
}
.show-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #fad02c;
  padding-bottom: 20px;
}
.input {
  width: 60%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.submit {
  width: 100%;
}
.input_text {
  width: 80%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #fad02c;
  border-radius: 5px;
  height: 60px;
  margin: 0 auto;
}
.col,.row {
  margin: 0 auto;
}
.btn-nav {
  margin-left: 5px;
}
.title_text_edit{
  width: 70%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #fa662c;
  border-radius: 5px;
  height: 50px;
  margin: 0 auto;
}
.can_account{
  padding-top: 20px;
  
}